bin/
commands/
lib/
include/
share/
__pycache__

cache.json
.python-version
.credentials
.Python
.DS_Store

terraform/.prod.tfvars
terraform/terraform.tfstate
terraform/lambda_code.zip
terraform/.terraform
terraform/terraform.tfstate.backup 

build/
assets/css/icons.css
assets/icons/category/
assets/icons/main/
assets/icons/resource/
.aider*
